.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  color: rgb(37, 37, 37);
}

.heading {
  font-size: 48px;
}

.icon {
  height: 200px;
  width: 200px;
  color: rgb(255, 62, 62);
}

.paragraph {
  text-align: center;
  font-size: 24px;
}
