.container {
  display: flex;
  height: 200px;
  width: 95%;
  padding: 12px;
  gap: 8px;
  background-color: rgb(37, 37, 37);
  color: white;
  border-radius: 8px;
  transition: all 0.1s;
}

.container:hover {
  border: 2px solid #ee964b;
  transform: scale(1.03);
}

.image {
  width: 35%;
  aspect-ratio: 250/300;
  object-fit: contain;
  background-color: white;
}

.subContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4px;
}

.infoContainer {
  display: flex;
  flex-direction: column;
}

.infoTitle {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Number of lines to show before "..." */
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 20px;
}

.infoPrice {
  font-weight: 600;
}

.inputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantityContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.quantityText {
  font-size: 22px;
}

.quantityButtonDisabled {
  all: unset;
}
.quantityButton {
  all: unset;
  background-color: #ee964b;
  border-radius: 4px;
  color: white;
  user-select: none;
}

.deleteButton:focus-visible,
.quantityButton:focus-visible {
  outline: 2px solid #0cbaba;
  outline-offset: 2px;
}

.quantityButton:hover {
  background-color: #0cbaba;
  cursor: pointer;
}

.quantityButton:active {
  transform: translateY(1px);
}

.quantityButton:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  pointer-events: none;
}

.deleteButton {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  gap: 4px;
  padding: 6px 12px;
  line-height: 1;
  background-color: #ee964b;
  border-radius: 4px;
  font-weight: 600;
  color: white;
}

.deleteButton:active {
  transform: translateY(1px);
}

.deleteButton:hover {
  cursor: pointer;
  color: #ba0c0c;
}

.deleteIcon {
  display: block;
  flex-shrink: 0;
  transform: translateY(-2px);
}
